windows-shell {
	position: static;
}

li > span:first-child {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: currentColor;
}

windows-desktop > svg {
	height: 0;
	width: 0;
}

svg {
	width: 1em;
	height: 1em;
}
